body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/9/90/Council-House-Nottingham.jpg") 70% fixed;
    background-size: cover;
    color: white;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background: rgba(4, 40, 68, 0.85);
}

h1 {
    font-weight: normal;
}

.rwd-table {
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}
.rwd-table th, .rwd-table td {
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}
