body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/commons/9/90/Council-House-Nottingham.jpg") 70% fixed;
    background-size: cover;
    color: white;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background: rgba(4, 40, 68, 0.85);
}